@font-face {
    font-family: 'Vintage';
    src: url("../fonts/Vintageone-q6Yx.ttf") format("truetype");
}

@font-face {
    font-family: 'FreeMono';
    src: url("../fonts/FreeMono.ttf") format("truetype");
}

html {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #000;
    background-image: url("../imgs/bkgrnd.jpg");
}

html, body {
    color: #000;
    font-family: "FreeMono", 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 14pt;
    overflow-x: hidden;
}

.arrow-small {
    width: 250px;
}

body {
    margin: 0 auto;
    padding: 0px 40px;
    min-width: 1024px;
    width: 60%;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background-color: #fff;
}

.bullet-item {
    background-image: url(../imgs/bullet.png);
    background-size: 10px;
    background-position: 40px 6px;
    background-repeat: no-repeat;
    padding-left: 60px !important;
}

.button-link, .nav-link {
    background-color: #000;
    padding: 20px 40px;
    float: left;
    border-top: 4px solid #EFEFEF;
    border-left: 4px solid #EFEFEF;
    border-bottom: 4px solid #575656;
    border-right: 4px solid #575656;
    color: #fff;
    text-decoration: none;
    font-weight: bolder;
    text-transform: uppercase;
    overflow: hidden;
    margin-right: 10px;
}

button {
    min-width: 200px;
    background: none;
    border: none;
}

button img {
    width: 100%;
}

.date {
    font-family: "FreeMono", 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 12pt;
}

.nav-link {
    height: 40px;
}

.nav-link-img, .link-img {
    display: block;
    width: 200px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.nav-link-img {
    float: left;
}

.nav-link-img img, .link-img img {
    width: 100%;
}
a.nav-link-img {
    text-decoration: none;
}

.card {
    float: left;
    width: 100%;
    border: 1px solid #000;
}

.card-body {
    float: left;
    width: 100%;
    font-size: 0;
}

.card-body img {
    width: 100%;
}

.card-footer {
    float: left;
    width: 100%;
    overflow: hidden;
    background-color: #000;
    color: #fff;
    font-size: 28pt !important;
    font-family: "Vintage", 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-align: center;
}

#contact input {
    margin-bottom: 20px;
}

.contact_input p {
    font-weight: bold;
    margin-bottom: 5px !important;
}

.error {
    margin-bottom: 60px;
    border: 14px solid #e01d00;
    color: #e01d00;
    font-family: "Vintage", 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.error-text {
    text-align: center;
    font-weight: bold;
    font-size: 24pt;
    text-transform: uppercase;
}

.error .card {
    border: none;
}

.error .card-footer {
    background-color: #e01d00;
}

footer {
    float: left;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}

footer p {
    padding: 0;
    margin: 0;
}

.footer-created {
    text-align: right !important;
}

h1 {
    font-size: 28pt !important;
    font-family: "Vintage", 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-align: center;
}

h2 {
    font-size: 28pt !important;
    font-family: "Vintage", 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-align: center;
}

h3, h4, .h3 {
    font-size: 22pt;
    font-weight: normal;
    font-family: "Vintage", 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

h5 {
    font-size: 20pt;
    font-weight: normal;
    font-family: "Vintage", 'Helvetica Neue', Arial, Helvetica, sans-serif;
}


header {
    margin-top: 40px;
    width: 100%;
}

.kb-captcha-img {
    width: 100%;
}

.kb-captcha-img img {
    min-width: 60%;
}

.image-wall {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
}

.image-wall-item {
    display: inline-block;
    width: 100%;
    margin: 1em 0;
    break-inside: avoid-column;
}

.image-wall-item img {
    max-width: 100%;
    border: 1px solid #000;
}

input, textarea {
    float: left;
    width: 100%;
    font-size: 16pt;
}

.required {
    background-image: url("../imgs/required.png");
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 15px;
}

.required-text {
    color: #ff3f00;
    font-size: 12pt;
    padding-bottom: 20px;
}

.tech-used {
    display: block;
    float: left;
    width: 100%;
    margin-bottom: 40px;
}

.tech-used img {
    float: left;
    width: 170px;
    margin-right: 10px;
    margin-bottom: 10px;
}

main {
    width: 100%;
}

#mobile {
    background: #000;
    position: absolute;
    left: 50px;
    top: 40%;
    z-index: 1000;
    font-size: 18pt;
    padding: 30px;
    display: none;
}

nav {
    float: left;
    width: 100%;
    margin-bottom: 40px;
}

table {
	border-spacing: 0px;
    width: 100%;
    font-size: 14pt;
}

table td, table th {
    vertical-align: top;
}

table td img {
    max-width: 100%;
}

.table-margin, .table, .error {
    display: flex;
    column-gap: 20px;
}

.blog-post {
    width: 100%;
}

.blog-post-title {
    margin-bottom: 10px;
}
.table, .blog-post {
    margin-bottom: 50px;
}

.table-img-arrow img {
    margin-top: 25%;
}

.no-margin img {
    margin: 0 !important;
}

.table-margin {
    margin-bottom: 100px;
}

.table-blank-arrow, .table-blank-arrow-reversed {
    display: flex;
    width: 100%;
    margin-bottom: 50px;
}

.table-blank-arrow-reversed {
    flex-direction: row-reverse;
}

.table-blank-arrow-img {
    width: 200px;
}

.table-text-right {
    text-align: right;
}

.table-text, .table-text-right, .table-img, .table-img-arrow, .table-text-card, .error-text {
    width: 50%;
}

.table-note {
    display: flex;
    background-color: #eee;
    border: 1px solid #ccc;
}

.table-note img, .table-img img {
    max-width: 100%;
}

.table-note p {
    font-weight: bolder;
    font-style: italic;
    padding: 0px 20px 0 20px;
}

.table-note-img {
    width: 250px;
    font-size: 0;
    background-color: #fff;
    justify-content: center;
}

.table-text p, .table-text-right p {
    margin-top: 0;
}

.text-bold {
    font-weight: bold;
}

.text-heading {
    font-weight: bold;
    text-decoration: underline;
}

.text-right {
	text-align: right;
}

.visitors {
    float: left;
    background-color: #ccc;
    border-top: 4px solid #F2F3EB;
    border-left: 4px solid #F2F3EB;
    border-bottom: 4px solid #000;
    border-right: 4px solid #000;
    width: 193px;
    height: 58px;
    text-align: center;
    padding-top: 4px;
    margin-right: 10px;
    margin-bottom: 15px;
}

.visitors p {
    padding: 0 !important;
    margin: 0 !important;
}

.visitors img {
    max-height: 28px;
}

.visitors span {
    width: 100%;
    font-family: "Vintage", 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #E14ECA;
}

.speech {
    font-style: italic;
}

pre {
    background-color: #ccc;
    padding: 10px;
}

.mobile-show {
    display: none;
}

@media only screen and (max-width: 1024px) {
    body {
        overflow-x: scroll;
    }

    pre, .kb-code-block {
        -moz-tab-size: 2;
        tab-size: 2;
    }
}
@media only screen and (max-width: 900px) {
    .arrow-small, .table-img-arrow img, .table-text img, .table-text-right img {
        width: 150px;
    }

    html {
        min-width: 100% !important;
    }

    body {
        padding: 0 !important;
        min-width: 100% !important;
        width: 100% !important;
    }

    .image-wall {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
    
    main, header, footer {
        padding: 0 10px !important;
        width: calc(100% - 20px) !important;
    }

    .card-footer {
        font-size: 20pt !important;
    }

    .bullet-item {
        padding-left: 25px !important;
        background-position: 10px 6px !important;
    }

    .no-mobile {
        display: none !important;
    }

    .no-mobile-margin {
        margin-bottom: 0 !important;
        margin-right: 0 !important;
    }

    .no-mobile-margin img {
        margin-top: 0 !important;
    }

    .mobile-margin {
        margin-bottom: 20px;
    }

    .mobile-right {
        text-align: right;
    }

    .mobile-show {
        display: block;
    }

    .table, .table-margin, .table-note, .error {
        flex-direction: column;
    }

    .table-note-img {
        background-color: #fff;
        justify-content: center;
    }

    .table-blank-arrow-img {
        margin-right: 40px;
    }

    .table-blank-arrow, .table-blank-arrow-reversed {
        margin-bottom: 0 !important;
    }

    .table-text, .table-text-right, .table-img, .table-img-arrow, .table-text-card, .table-note-img, .error-text {
        width: 100% !important;
    }
}
